<strong>
  管理员用户
</strong>
<p>
  <%= link_to "查看用户信息", users_path %>
</p>
<p>
  <%= link_to "查看球票信息", tickets_path %>
</p>
<p>
  <%= link_to "查看订单信息", orders_path %>
</p>
<%= link_to "退出", root_path %> 