<!DOCTYPE html>
<html>
  <head>
    <title>CBA票务网站</title>
  </head>
  <body>
    <img src="http://logo.logozhizuowang.com/uploads/allimg/110320/1_110320161201_1.jpg">
    <%= link_to "登陆", login_path %>
    <%= link_to "注册", new_user_path %>
  </body>
</html>